#
# https://github.com/chen-wilde/Auto-LEDE
#
# File: .github/workflows/openwrt-bulder.yml
# Description: Build OpenWrt using GitHub Actions
#
# This is free software, licensed under the MIT License.
# See /LICENSE for more information.
#

name: Build x86_64 firmware

on:
  repository_dispatch:
  workflow_dispatch:

env:
  REPO_URL: https://github.com/coolsnowwolf/lede
  REPO_BRANCH: master
  FEEDS_CONF: feeds.conf.default
  CONFIG_FILE: x86_64.config
  DEVICE: x86_64
  UPLOAD_ONEDRIVE: true
  ONEDRIVE_DIR: onedrive:/Build/Actions
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Load custom configuration
      env: ${{ secrets }}
      run: |
        echo $TUNNEL_CERT

    - name: Delete workflow runs
      uses: Mattraks/delete-workflow-runs@main
      with:
        retain_days: 0
        keep_minimum_runs: 2