name: Build x86_64 firmware

on:
  repository_dispatch:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - DIY_P3_SH: test1.sh
          - DIY_P3_SH: test2.sh

    steps:

    - name: Load custom configuration
      env: ${{ secrets }} 
      run: |
        chmod +x ${{ matrix.DIY_P3_SH }}
        cd openwrt
        $GITHUB_WORKSPACE/${{ matrix.DIY_P3_SH }}