#
# https://github.com/chen-wilde/Auto-LEDE
#
# File: .github/workflows/openwrt-bulder.yml
# Description: Build OpenWrt using GitHub Actions
#
# This is free software, licensed under the MIT License.
# See /LICENSE for more information.
#

name: Build x86_64 firmware

on:
  repository_dispatch:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Load custom configuration
      env: ${{ secrets }}
      run: echo $TUNNEL_CERT