#
# https://github.com/chen-wilde/Actions-OpenWrt
#
# File: .github/workflows/update-checker.yml
# Description: Source code update checker
#
# This is free software, licensed under the MIT License.
# See /LICENSE for more information.
#

name: Update Checker

env:
  REPO_PATH: coolsnowwolf/lede
  REPO_BRANCH: master

on:
  workflow_dispatch:
  schedule:
    - cron: 0 */8 * * *

jobs:
  check:
    runs-on: ubuntu-latest

    steps:

    - name: Restore Rclone Cache
      id: restoreCache
      uses: actions/cache/restore@main
      with:
        path: ~/.config/rclone/rclone.conf
        key: rcloneConf

    - name: Refresh Expiry Date
      id: refreshDate
      run: |
        if [ ! -s ~/.config/rclone/rclone.conf ]; then
          mkdir -p ~/.config/rclone
          echo '${{ secrets.RCLONE_CONFIG }}' > ~/.config/rclone/rclone.conf
        fi
        curl https://rclone.org/install.sh | sudo bash
        rclone about onedrive:
        EXPIRY=$(jq -r '.expiry' <(sed -En 's/.*token = (.*)/\1/p' ~/.config/rclone/rclone.conf))
        echo "expiry=$EXPIRY" >> $GITHUB_OUTPUT

    - name: Save Rclone Cache
      uses: actions/cache/save@main
      with:
        path: ~/.config/rclone/rclone.conf
        key: rcloneConf_${{ steps.refreshDate.outputs.expiry }}

    - name: Get Commit Hash
      id: getHash
      run: |
        commitHash=$(curl -s "https://api.github.com/repos/${REPO_PATH}/commits/${REPO_BRANCH}" | jq -r '.sha')
        echo "commitHash=$commitHash" >> $GITHUB_OUTPUT

    - name: Compare Commit Hash
      id: cacheHash
      uses: actions/cache@main
      with:
        path: .commitHash
        key: commitHash_${{ steps.getHash.outputs.commitHash }}

    - name: Save New Commit Hash
      if: steps.cacheHash.outputs.cache-hit != 'true'
      run: |
        echo ${{ steps.getHash.outputs.commitHash }} | tee .commitHash

    - name: Trigger build
      if: steps.cacheHash.outputs.cache-hit != 'true'
      uses: peter-evans/repository-dispatch@main
      with:
        token: ${{ github.token }}
        event-type: Source Code Update

    - name: Delete workflow runs
      uses: Mattraks/delete-workflow-runs@main
      with:
        retain_days: 0
        keep_minimum_runs: 2